.ant-layout {
  background: #f2f2f2;
  height: 100vh;
}

.userLayout {
  height: 100%;
}

.screen {
  border: 1px solid #ddd;
  padding: 20px;
  background: #fff;
}

.header {
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.navigation {
  line-height: 62px;
  background: #fff;
}

.navigationUser {
  float: right !important;
}

.navigationUser:after {
  clear: both;
}

.header .user {
  float: right;
}

.mr-15 {
  padding: 25px 15px;
}